.card{
    width: 550px;
    height: 650px;
    /* color: rgb(19, 21, 22); */
    top: 50%;
    left: 50%;
    position: absolute;
    /* box-sizing: border-box; */
    padding: 31px 40px;
    /* border: 1px solid black; */
    transform: translate(-50%,-50%);

}